@model IQueryable<Usuario>

@{
    ViewBag.Subtitulo = "Listagem";
}

<h1 class="text-primary">Usuários</h1>
<hr>
<a href="/Home/Cadastrar" class="btn btn-primary">Novo Usuário</a>
@if (TempData.ContainsKey("Excluiu"))
{
    var excluiu = (bool)TempData["Excluiu"];
    if (excluiu)
    {
        <div class="alert alert-success mt-3 alert-dismissible fade show" role="alert">
            Usuário excluído com sucesso.
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
    else
    {
        <div class="alert alert-warning mt-3 alert-dismissible fade show" role="alert">
            Não foi possível excluir o usuário.
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
    </thead>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Nome</td>
            <td>@u.Email</td>
            <td>
                <a class="btn btn-secondary" asp-action="Cadastrar" asp-route-id="@u.Id">Editar</a>
                <a class="btn btn-danger" asp-action="Excluir" asp-route-id="@u.Id">Excluir</a>
            </td>
        </tr>
    }
    <tbody>
    </tbody>
</table>
